*{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.banner{
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: aliceblue;
}
.skills-padding{
  padding: 80px 0;
}