*{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.banner{
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0; 
    color: aliceblue;
    text-align: center;
}
.skills-padding{
  padding: 80px 0;
}
img {
  max-width: 100%;
  height: auto;
}
form input, form textarea {
  width: 100%;  
